/Library/
/Temp/
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/AsteroidFlipping-csharp.sln
/AsteroidFlipping.sln
/Assembly-UnityScript-vs.unityproj
/Assembly-UnityScript.unityproj
/AsteroidFlipping.userprefs
